__pycache__/
websockets/
websockets-10.3.dist-info/
*.mmcr
*.blend1

material-maker-master/*
!material-maker-master/
material-maker-master/material_maker/*
!material-maker-master/material_maker/
material-maker-master/material_maker/*
!material-maker-master/material_maker/main_window.gd
!material-maker-master/material_maker/panels/
material-maker-master/material_maker/panels/*
!material-maker-master/material_maker/panels/graph_edit
material-maker-master/material_maker/panels/graph_edit/*
!material-maker-master/material_maker/panels/graph_edit/graph_edit.gd





For the addon folder/

MatPropTest05.blend
MatPropTest06.blend
TestPlanBase.blend
TestPlane.blend
TestPlanks.blend
TestPlanBase02.blend
TestPlaneBase02.blend
TestPlaneBase03.blend
TestFrosting.blend
VideoShowcase.blend
VideoSequencing/tunetank.com_450_beautiful-moment_by_redlionproduction.mp3
VideoSequencing/Output/0090-1775.mp4
VideoSequencing/Output/Final01.mp4
